<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'index' %}"><button class="button">Create Service</button></a>
            <a href="{% url 'index2' %}"><button class="button">Give Opinion</button></a>
        </div>
    </header>
    <main>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            
                {{ offer_form.name }}
               
                {{ offer_form.surname }}
              
                {{ offer_form.mail }}
            
                {{ offer_form.number }}
        
                {{ offer_form.price }}
                <label for="id_photo">Photo:</label> 
                {{ offer_form.photo }}
                <label for="id_industry">Industry:</label>
                 {{ offer_form.industry }}
                
                {{ offer_form.text }}
               
                <button type="submit">Submit</button>
            </form>
           
            <div class="card">
                <div class="col col1">
                    <p>Name:</p>
                    <p class="data">{{ offer.name }}</p>
                    <p>Surname:</p>
                    <p class="data">{{ offer.surname }}</p>
                    <p>Mail:</p>
                    <p class="data">{{ offer.mail }}</p>
                    <p>Number:</p>
                    <p class="data">{{ offer.number }}</p>
                    <p>Price:</p>
                    <p class="data">{{ offer.price }}$</p>
                    <p>Industry:</p>
                    <p class="data"> 
                    {% for industry in selected_industries %}
                        {{ industry }}
                    {% endfor %}</p>
                </div>
                <div class="col col2">
                    <img class="photo" src="{{ offer.photo.url }}" alt="Photo">
                    <p>Text:</p>
                    <p class="data text"> {{ offer.text }}</p>
                    <form method="post" action="{% url 'accept_offer' %}" enctype="multipart/form-data">
        
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}"> 
                        <button type="submit" name="accept_button">Accept</button>
                    </form>
                </div>
            </div>
     
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <h2>Create Service</h2>
        </div>
    </footer>
</body>
</html>
